
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BilgiGetir</title>
    <link rel="stylesheet" href="~/CSS/BilgiGetir.css" />
    
</head>
<body>
    <div class="container">
        <h1>Öğrenci Bilgileriniz</h1>
        <table>
            <tr>
                <th>Student ID</th>
                <td>@Model.StudentID</td>
            </tr>
            <tr>
                <th>Ad</th>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <th>Soyad</th>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Bölüm</th>
                <td>@Model.Department</td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 10px;">
        <div style="margin-top: 10px;">
            <a href="/Menu/OgrenciMenu" class="btn btn-secondary">Ana Sayfaya Dön</a>
        </div>
    </div>
</body>
</html>
