@model IEnumerable<OkulSistem.Models.Course>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DersSec</title>
</head>
<body>
    <h2>Ders Seç</h2>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>Kurs Adı</th>
                <th>Instructor</th>
                <th>Onay Durumu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.CourseName</td>
                    <td>@course.Instructor?.FirstName</td>  
                    <td>
                        <form method="post" action="@Url.Action("DersSec", "Student")">
                            <input type="hidden" name="courseId" value="@course.CourseID" />
                            <button type="submit" class="btn btn-primary">Ders Seç</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>
