 @model IEnumerable<OkulSistem.Models.Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OgrenciMenu</title>
    <link href="~/CSS/OgrenciMenu.css" rel="stylesheet" />
    
</head>
<body>
    <div class="hg"> <h1>Öğrenci Oturumuna Hoş Geldiniz </h1> </div>

    <div class="islemler"><h4>YAPABİLECEĞİNİZ İŞLEMLER</h4></div>
    <div class="menu">
        <ul>
            <li><a href="@Url.Action("BilgiGetir", "Student")">Bilgilerinizi Listeleyin</a></li>
            <li><a href="@Url.Action("DersSec", "Student")">Ders Seçimi Yapın</a></li>
            <li><a href="@Url.Action("GetStudentCourses", "Student")">Seçtiğiniz Dersleri Listeleyin</a></li>
            <li><a href="@Url.Action("OnayBekleyen", "Student")">Onay Bekleyen Dersleri Listeleyin</a></li>
            <li><a href="@Url.Action("Logout", "Home")">Çıkış Yap</a></li>
        </ul>
    </div>
</body>
</html>
