@model IEnumerable<OkulSistem.Models.Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentList</title>

  <style>
      body{
          background-color:brown;
      }
  </style>

</head>
<body>
    <h1>Öğrenci Listesi</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Öğrenci ID</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>E-posta</th>
                <th>Bölüm</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.StudentID</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Email</td>
                    <td>@student.Department</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="margin-top: 10px;">
        <div style="margin-top: 10px;">
            <a href="/Home/Index" class="btn btn-secondary">Ana Sayfaya Dön</a>
        </div>
    </div>
</body>
</html>
