@model OkulSistem.Models.Instructor

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Instructor Details</title>
    
</head>
<body>
    <div class="container">
        <h1>Instructor Bilgileriniz</h1>
        <table>
            <tr>
                <th>Instructor ID</th>
                <td>@Model.InstructorID</td>
            </tr>
            <tr>
                <th>Ad</th>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <th>Soyad</th>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Bölüm</th>
                <td>@Model.Department</td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 10px;">
        <div style="margin-top: 10px;">
            <a href="/Home/Index" class="btn btn-secondary">Ana Sayfaya Dön</a>
        </div>
    </div>
</body>
</html>
