@model OkulSistem.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student By ID</title>
</head>
<body>
    <h1>Öğrenci Ara</h1>
    <form method="get" asp-action="StudentByID" asp-controller="Instructor">
        <label for="id">Öğrenci ID:</label>
        <input type="text" id="id" name="id" placeholder="Öğrenci ID giriniz" required />
        <button type="submit">Ara</button>
    </form>

    @if (TempData["Error"] != null)
    {
        <p style="color: red;">@TempData["Error"]</p>
    }

    @if (Model != null)
    {
        <h1>Öğrenci Detayları</h1>
        <table>
            <tr>
                <th>Öğrenci ID</th>
                <td>@Model.StudentID</td>
            </tr>
            <tr>
                <th>Ad</th>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <th>Soyad</th>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Bölüm</th>
                <td>@Model.Department</td>
            </tr>
        </table>
    }
    <div style="margin-top: 10px;">
        <div style="margin-top: 10px;">
            <a href="/Home/Index" class="btn btn-secondary">Ana Sayfaya Dön</a>
        </div>
    </div>
</body>
</html>