@model IEnumerable<OkulSistem.Models.StudentsCourse>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Öğrenci Kursları</title>
  
</head>
<body>
    <h1>Öğrencilerin Aldığı Kurslar</h1>
    <table>
        <thead>
            <tr>
                <th>Seçim ID</th>
                <th>Öğrenci ID</th>
                <th>Kurs ID</th>
                <th>Öğrenci Adı</th>
                <th> Soyadı</th>
                <th>Kurs Adı</th>
                <th>Kredi</th>
                
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SelectionID</td>
                    <td>@item.StudentID</td>
                    <td>@item.CourseID</td>
                    <td>@item.Student?.FirstName  </td>
                    <td>@item.Student?.LastName </td>
                    <td>@item.Course?.CourseName </td>
                    <td>@item.Course?.Credits</td>
                    

                 
                </tr>
            }
        </tbody>
    </table>
    <div style="margin-top: 10px;">
        <div style="margin-top: 10px;">
            <a href="/Home/Index" class="btn btn-secondary">Ana Sayfaya Dön</a>
        </div>
    </div>
</body>
</html>