@model IEnumerable<OkulSistem.Models.Instructor>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoş Geldiniz</title>
    <link href="~/CSS/Index.css" rel="stylesheet" />

    </head>
    <body>
	<div class="hg"> <h1>Öğretmen Oturumuna Hoş Geldiniz @ViewBag.InstructorName</h1> </div>

	<div class="islemler"><h4>YAPABİLECEĞİNİZ İŞLEMLER</h4></div>
    <div class="menu">
       <ul>
        <li><a href="@Url.Action("Gets", "Instructor")">Öğrenci Listesini Görüntüleme</a></li>
        <li><a href="@Url.Action("StudentByID", "Instructor")">Öğrenci Numarasına Göre Öğrenci Arama</a></li>
        <li><a href="@Url.Action("DeleteStudent", "Instructor")">Öğrenci Silme</a></li>
        <li><a href="@Url.Action("OgrenciEkle", "Instructor")">Öğrenci Ekleme</a></li>
        <li><a href="@Url.Action("DersIstekleri", "Instructor")">Ders İsteklerini Listeleme</a></li>
        <li><a href="@Url.Action("DersimiAlanOgrenciler", "Instructor")">Dersimi Alan Öğrencileri Listeleme</a></li>
        <li><a href="@Url.Action("InstructorDetails", "Instructor")">Kendi Bilgilerinizi Görüntüleme</a></li>
        <li><a href="@Url.Action("Logout", "Home")">Çıkış Yap</a></li>
	   </ul>
	</div>
	</body>
    </html>
