@model IEnumerable<OkulSistem.Models.Instructor>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoş Geldiniz</title>

   

    </head>
    <body>
<h1>Hoş Geldiniz</h1>

<h3>Yapabileceğiniz işlemler:</h3>

<ul>
    <li><a href="@Url.Action("Gets", "Instructor")">Öğrenci Listesini Görüntüle</a></li>
    <li><a href="@Url.Action("StudentByID", "Instructor")">ID'ye göre öğrenci arama</a></li>
    <li><a href="@Url.Action("OgrenciGuncelle", "Instructor")">Öğrenci Guncelleme</a></li>
    <li><a href="@Url.Action("DeleteStudent", "Instructor")">Öğrenci Sil</a></li>
    <li><a href="@Url.Action("OgrenciEkle", "Instructor")">Öğrenci Ekle</a></li>
    <li><a href="@Url.Action("KursListele", "Instructor")">Kursları Listele</a></li>
    <li><a href="@Url.Action("KursEkle", "Instructor")">Ders Ekle</a></li>
    <li><a href="@Url.Action("StudentCoursesList", "Instructor")">Ogrencilerin ALdığı Dersler</a></li>
    <li><a href="@Url.Action("InstructorDetails", "Instructor")">Kendi Bilgilerinizi Görüntüleyin</a></li>
    <li><a href="@Url.Action("Logout", "Home")">Çıkış Yap</a></li>
</ul>
	</body>
